body{
    background-color: #fff;
    background:url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.login_banner{
    padding:100px;
}

.login_banner .thumbnail{
    padding:6px;
}

.login_banner .thumbnail .register-form{
    display: block;
    border:3px solid rgba(255, 213, 0, 0.4);
    padding:30px 10px 10px;
}

.register-form .form-control{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding:20px 10px;
    border:1px solid #f2f2f2;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.register-form .form-control:focus{
    border-color:#ffd500;
}

.register-form .btn-primary{
    display: inline-block;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #ffd500;
    border:0px;
    padding:15px;
    width:100%;
    color: #000000;
}